@import '../../reuse';

.playlist-modal-title {
  margin-bottom: 24px;
}
.new-playlist-form {
  @extend .d-flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  span {
    display: inline-block;
    margin-bottom: 8px;
  }
}

.playlist-card {
  @extend .card;
  @extend .cur-p;
  width: 282px;
  height: 225px;

  &.--new {
    @extend .d-flex;
    flex-direction: column;
    gap: 4px;
    color: $primary-1;
    font-size: 1.6rem;

    .icon {
      height: 48px;
      width: 48px;
    }

    &:hover {
      background-color: $light-1;
    }
  }
}

.title {
  margin-bottom: 4px;
}

.desc {
  color: $light-4;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb24 {
  margin-bottom: 24px;
}
